
/*******************************
            Page
*******************************/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');
html,
body {
 height: 100%;
}
html {
 font-size: 14px;
}
body {
 margin: 0px;
 padding: 0px;
 overflow-x: hidden;
 min-width: 320px;
 background: url("../images/background.png");
 font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 1.4285em;
 color: rgba(0, 0, 0, 0.87);
 font-smoothing: antialiased;
}


/*******************************
            Headers
*******************************/

h1,
h2,
h3,
h4,
h5 {
 font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 line-height: 1.2857em;
 margin: calc(2rem -  0.14285em ) 0em 1rem;
 font-weight: bold;
 padding: 0em;
}
h1 {
 min-height: 1rem;
 font-size: 2rem;
}
h2 {
 font-size: 1.714rem;
}
h3 {
 font-size: 1.28rem;
}
h4 {
 font-size: 1.071rem;
}
h5 {
 font-size: 1rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
 margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
 margin-bottom: 0em;
}


/*******************************
            Text
*******************************/

p {
 margin: 0em 0em 1em;
 line-height: 1.4285em;
}
p:first-child {
 margin-top: 0em;
}
p:last-child {
 margin-bottom: 0em;
}

/*-------------------
       Links
--------------------*/

a {
 color: #4183C4;
 text-decoration: none;
}
a:hover {
 color: #1e70bf;
 text-decoration: none;
}


/*******************************
         Highlighting
*******************************/


/* Site */
::-webkit-selection {
 background-color: #CCE2FF;
 color: rgba(0, 0, 0, 0.87);
}
::-moz-selection {
 background-color: #CCE2FF;
 color: rgba(0, 0, 0, 0.87);
}
::selection {
 background-color: #CCE2FF;
 color: rgba(0, 0, 0, 0.87);
}

/* Form */
textarea::-webkit-selection,
input::-webkit-selection {
 background-color: rgba(100, 100, 100, 0.4);
 color: rgba(0, 0, 0, 0.87);
}
textarea::-moz-selection,
input::-moz-selection {
 background-color: rgba(100, 100, 100, 0.4);
 color: rgba(0, 0, 0, 0.87);
}
textarea::selection,
input::selection {
 background-color: rgba(100, 100, 100, 0.4);
 color: rgba(0, 0, 0, 0.87);
}


/*******************************
       Nav menu
*******************************/

.ui.menu .item>img:not(.ui) {
  width: 10em;
}

.ui.menu {
  font-size: 1.1rem
}


@media screen and (min-device-width: 991px) {
  .ui.menu {
    font-size: 1.0rem
  }
}

@media only screen and (max-width: 767px){
  .ui.stackable.menu .item {
    width: auto!important;
  }
}

/*******************************
          Book Cards
*******************************/

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
  margin-bottom: 5px;
}

.ui[class*="four column"].grid>.column:not(.row), .ui[class*="four column"].grid>.row>.column {
  width: 24%;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  text-align: center;
}

.ui.card {
  text-align: left;
  margin: 0 auto;
}

.books-cards {
  height: 100%;
  width: 100%;
}

.cards-center{
  margin-left: auto !important;
}

@media only screen and (max-width: 767px) and (min-width: 520px) {
  .ui.column.grid>[class*="eight wide mobilel"].column, .ui.grid>.column.row>[class*="eight wide mobilel"].column, .ui.grid>.row>[class*="eight wide mobilel"].column, .ui.grid>[class*="eight wide mobilel"].column {
    width: 50%!important;
  }
}

@media only screen and (max-width: 520px) and (min-width: 320px) {
  .ui.column.grid>[class*="sixteen wide mobile"].column, .ui.grid>.column.row>[class*="sixteen wide mobile"].column, .ui.grid>.row>[class*="sixteen wide mobile"].column, .ui.grid>[class*="sixteen wide mobile"].column {
    width: 100%!important;
  }
}

/*******************************
HomePage Vertical Menu
*******************************/

.ui.vertical.menu {
  text-align: left;
  margin-top: 15px;
  width: 100%;
}

.ui.icon.input {
  width: 100%;
}

.ui.vertical.menu .menu .item {
  font-size: .87714286em;
  color: #444;
}

.ui.four.column.grid.cards-center {
  padding-right: 1em;
}

.ui.vertical.menu .item>.header:not(.ui) {
  font-size: 1.1em;
}

/*******************************
Filters Vertical Menu
*******************************/

.breadcrumb-container {
  width: 100%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 6px;
}

/*******************************
          Pagination
*******************************/

.pagination-title {
  display: inline-block;
  margin: 15px 15px;
}

.pagination {
  margin: 0 auto !important;
}
/*******************************
            Footer
*******************************/

.ui.vertical.segment.footer {
  margin-top: 40px;
  padding: 25px 0;
}

.ui.inverted.divided.grid:not([class*="vertically divided"])>.column:not(.row), .ui.inverted.divided.grid:not([class*="vertically divided"])>.row>.column {
  text-align: left;
}


/*******************************
        Book Description
*******************************/

.book-desc {
  margin-top: 15px;
  background-color: #fff;
  border-radius: .28571429rem;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  text-align: left !important;
}

.book-description {
    text-align: left !important;
}

.book-header {
}

.read-button {
  width: 100%;
  margin-top: 15px !important;
  min-height: 1em !important;
  padding: 0.985714em 1.5em !important;
}


/*******************************
            Tags
*******************************/

.liked-tag {
  position: absolute !important;
  right: 15px;
  top: 20px;
}


/*******************************
        page-pagonator
*******************************/

.page-paginator {
  text-align: center;
}

/*******************************
          Book page
*******************************/

.word {
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}

.word:hover {
  background-color: teal;
  color: white;
  transition: 0.5s;
}

.word-translate-block {
  display: none;
  position: absolute;
  width: 300px;
  background: teal;
  opacity: 0.98;
  z-index: 10;
  border-radius: 3px;
  top: -14px;
  font-size: 17px;
  padding: 10px 15px;
  color: #fff;
  left: -10px;
}

.word-translate-block .w {
    font-size: 20px;
}

.word-translate-block .ts {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid rgba(255,255,255,0.3);
}

.word-translate-block .tr {
    display: block;
    padding: 5px 0px;
    text-align: left;
}

.word-translate-block .tr span {
    display: block;
}

.word-translate-block .functions {
    border-top: 1px solid rgba(255,255,255,0.3);
    padding: 10px 0px 0px 00px;
    margin-top: 5px;
}

.bug-f a{
  color: #fff;
  cursor: pointer;
}

.bookmark-tag {
  position: absolute !important;
  top: 10px;
}


/*******************************
          Bookmarks
*******************************/

.bookmarks-card {
  width: 100% !important;
  background-color: white;
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 15px !important;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
} 

.bookmarks-container {
  text-align: left !important;
}

.bookmark-image {
  max-width: 105px;
  min-height: 165px;
  margin-right: 15px;
}

.bk-header {
  text-align: left;
  font-weight: 700;
  font-size: 1.28571429em;
}

.del-bookmark {
  padding: 0.6em 1em !important;
  font-size: 0.9rem !important;
}

.bookmark-link {
  padding-top: 1.024286em !important;
}

.bk-author {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
}

.img-column {
  padding-left: 0px !important;
}

 .links .right.floated.content {
  padding: .5em 1em 0.5em !important;  
}
.bookmarks-accordion {
  margin-top: 16px;
}