{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  {% include "reader/head.html" %}
</head>
<body>
  {% include "reader/nav.html" %}
  <div class="ui main container">
    <div class="ui five doubling grid">

      {% include "reader/left-menu.html" %}

      {% block content %}
      {% endblock %}

    </div>
  </div>
  {% include "reader/footer.html" %}

  <script type="text/javascript" src="{% static "styles/js/csrf.js"%}"></script>
  <script type="text/javascript" src="{% static "styles/js/main.js"%}"></script>

</body>
</html>
