{% extends 'reader/base.html' %}
{% load static %}
{% block content %}

<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui four column grid cards-center">
    

    {% for book in books %}
    <div class="sixteen wide mobile eight wide mobilel eight wide tablet four wide computer column">
      <div class="ui card books-cards">
        <div class="image dimmable">
          <div class="ui blurring inverted dimmer transition hidden">
            <div class="content">
              <div class="center">
                <a href="{% url 'book_description' pk=book.pk %}"><div class="ui teal button">Читать</div></a>
              </div>
            </div>
          </div>
          <img src="data:image/png;base64, {{book.img}}" alt="{{book.title}}">
        </div>
        <div class="content">
          <div class="header">{{ book.title }}</div>
          <div class="meta">
            <a class="group">{{ book.author }}</a>
          </div>
        </div>
        <div class="extra content">
          <a class="right floated created"><i class="book icon"></i> {{ book.pages }}</a>
          <a class="friends"><i class="users icon"></i> {{ book.readers }}</a>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="ui container pagination">
      <br>
      {% if pages.has_previous %}
      <a href="?page={{ books.previous_page_number }}">
        <div class="ui animated button" tabindex="0">
          <div class="visible content">Назад</div>
          <div class="hidden content">
            <i class="left arrow icon"></i>
          </div>
        </div>
      </a>
      {%endif%}
      {% if pages.has_next %}
      <h3 class="pagination-title">Страница 1 из 1</h3>
      {% else %}
      <h3 class="pagination-title"> {{ books.number }} из {{ books.paginator.num_pages }}</h3>
      {% endif %}
      {% if pages.has_next %}
      <a href="?page={{ books.next_page_number }}">
        <div class="ui animated button" tabindex="0">
          <div class="visible content">Вперёд</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      </a>
      {%endif%}
    </div>

  </div>
</div>


{% endblock content %}
