{% extends 'reader/base.html' %}
{% load static %}
{% block content %}

<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column bookmarks-container" style="background-color: transparent;">

  <div class="ui five column doubling grid">
    <div class="ui styled fluid accordion bookmarks-accordion">

      {% for book, bookmarks in result.items %}
      <!-- ************* -->
      <!-- START ELEMENT -->
      <!-- ************* -->
      <div class="title">
        <i class="dropdown icon"></i>
        {{book.title}}
      </div>
      <div class="content">

        <!-- Start block-->
        <div class="ui two stackable column grid ">
          <div class="column ui three wide column img-column">
            <img class="bookmark-image" src="data:image/png;base64, {{book.img}}" alt="{{book.title}}">
          </div>
          <div class="thirteen wide column">
            <div class="bk-header">{{book.title}}</div>
            <div class="bk-author">{{book.author}}</div>
            <div class="links">
              <div class="ui middle aligned divided list">


                {% for bookmark in bookmarks %}
                <div class="item">
                  <div class="right floated content">
                    <a class="ui red basic button del-bookmark" data-bk="{{ book.id }}" data-pg="{{bookmark.page_id}}">Удалить</a>
                  </div>
                  <i class="book icon bookmark-link"></i>

                  <div class="content bookmark-link">
                    <a href="{{ site_url }}/book/{{book.id}}?page={{bookmark.page_id}}">Страница {{bookmark.page_id}}</a>
                  </div>
                </div>
                {% endfor %}


              </div>
            </div>
          </div>
        </div>
        <!-- End block-->
      </div>
      <!-- *********** -->
      <!-- END ELEMENT -->
      <!-- *********** -->
      {%endfor%}

    </div>
  </div>
  <script src="{% static "styles/js/unbookmark.js" %}"></script>

</div>

<script type="text/javascript">
  $('.ui.accordion')
  .accordion()
  ;
</script>  

{% endblock %}
