{% extends 'reader/base.html' %}
{% load static %}
{% block content %}

<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column book-desc">
  <div class="ui four column grid">
    <div class="sixteen wide mobile eight wide mobilel eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image dimmable">

          <img class="ui medium rounded image desc-card-img" src="data:image/png;base64, {{book.img}}" alt="{{book.title}}">
        </div>

      </div>
      <a href="{{ site_url }}/book/{{book.id}}?page=1"><div class="ui teal button read-button">Читать</div></a>
    </div>

    <div class="sixteen wide mobile twelve wide computer column book-description">
      <div class="book-header">
        <h1>{{ book.title }}</h1>

        {% if user.is_authenticated %}
        {% if liked %}
        <a class="ui tag label teal liked-tag" id="liked-tag">Избранное</a>

        {% else %}
        <a class="ui tag label liked-tag" id="liked-tag">Избранное</a>
        {% endif %}
        {% else %}
        <a class="ui tag label liked-tag" id="liked-tag">Избранное</a>
        <div class="ui special popup" data-position="bottom">Вы должны авторизоваться</div>
        <script type="text/javascript">
          $('.liked-tag')
          .popup({
            inline: true
          });
        </script>
        {% endif %}

      </div>
      <h3>{{ book.author }}</h3>
      <p><i class="student icon"></i>Уровень:
       {% for i in  book.lvl.all %}
        <a href="{{ site_url }}/book/g={{i}}">{{i.title}}</a>
        {% endfor %}
      </p>
      <p><i class="hashtag icon"></i>Жанр:
        {% for i in  book.genre.all %}
        <a href="{{ site_url }}/book/g={{i}}">{{i.ru_title}}; </a>
        {% endfor %}
      </p>
      <p><i class="book icon"></i>Страниц: {{ book.pages }} </p>
      <p><i class="users icon"></i>Читателей: {{ book.readers }}</p>
      <p></p>
      {{ book.desc|safe }}
    </div>
  </div>
</div>

<script src="{% static "styles/js/liked.js" %}"></script>


{% endblock %}
