{% extends 'reader/base.html' %}
{% block content %}
<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">


    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">

      <div class="ui stacked segment">
      	<h3>Что-то пошло не так..</h3>
        <p>{{error}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}