
<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
			{{ global_preferences.general__footer1 | safe }}
			{{ global_preferences.general__footer2 | safe }}
			{{ global_preferences.general__footer3 | safe }}
		</div>
	</div>
</div>
