<div class="sixteen wide mobile four wide tablet three wide computer column">

  <form action="/search/" method="get">
    <div class="ui icon input">
      <input type="text" class="search-data"  name="q" placeholder="Search...">
      <i class="inverted circular search link icon"></i>
    </div>
  </form>
  <div class="ui vertical menu">

    <div class="item">
      <div class="header">Уровни</div>
      <div class="menu">
        {% for lvl in levels %}
        <a href="{% url 'book_list' pk=lvl.lvl %}" class="item">{{ lvl.title }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="item">
      <div class="header">Книги</div>
      <div class="menu">
        {% for ct in categories %}
        <a href="{% url 'book_list' pk=ct.category %}" class="item">{{ ct.ru_title }}</a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('.search').click(function() {
    window.location.replace("{{ site_url }}/search/?q=" + $('.search-data').val());

  });
</script>
