{% load static %}

<div class="ui stackable menu">
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="{% static "styles/images/logo.png"%}">
    </a>
    <a href="/" class="item active">Книги</a>
    <a href="/blog" class="item">Блог</a>
    <div class="right menu stackable">
      {% if user.is_authenticated == False%}
      <a href="{{ site_url }}/login/" class="item">Вход</a>
      <a href="{{ site_url }}/register/" class="item">Регистрация</a>
      {% else %}
      <div class="ui dropdown item" tabindex="0">
        <span style="font-size:15px">{{ user.username }}</span>
        <i class="dropdown icon"></i>
        <div class="menu transition hidden" tabindex="-1">
          <a href="/bookmarks/"><div class="item">Закладки</div></a>
          <a href="/book/g=liked"><div class="item">Избранные</div></a>
          {# <a href="/settings/"><div class="item">Настройки чтения</div></a> #}
          <a href="/user/settings/"><div class="item">Смена пароля</div></a>
        </div>
      </div>
      <a href="{{ site_url }}/logout/" class="item">Выход</a>
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.ui.dropdown')
  .dropdown()
  ;
</script>
