{% extends 'reader/base.html' %}
{% load static %}

{% block content %}


<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column book-desc book-page" style="font-size: 20px; word-spacing: 1px; line-height: 25px;">
  <div class="">
    <h4>{{book.title}}</h4>
    {% if user.is_authenticated %}
    {% if bookmark %}
    <a class="ui tag label teal liked-tag bookmark-tag" id="bookmark-tag" data-bk="{{ book.id }}" data-pg="{{ pages.number }}">В закладки</a>
    {% else %}
    <a class="ui tag label liked-tag bookmark-tag" id="bookmark-tag" data-bk="{{ book.id }}" data-pg="{{ pages.number }}">В закладки</a>
    {% endif %}
    {% else %}
    <a class="ui tag label liked-tag bookmark-tag">В закладки</a>
    <div class="ui special popup" data-position="bottom">Вы должны авторизоваться</div>
    <script type="text/javascript">
      $('.bookmark-tag')
      .popup({
        inline: true
      });
    </script>
    {% endif %}
    <hr>
  </div>
  <form role="form" method="post">
    {% csrf_token %}
    {% for word in pages %}
    {% if "<p><strong>" in word and "</strong></p>" in word %}
    <p>
      <strong>
        <span class="word" data-wv="{{ word | cut:"<strong>" | cut:"<p>" | cut:"</strong>" | cut:"</p>"}}">
          {{ word | cut:"<strong>" | cut:"<p>" | cut:"</strong>" | cut:"</p>"}}
        </span>
      </strong>
    </p>

    {% elif "<p><strong>" in word %}
    <p>
      <strong>
        <span class="word" data-wv="{{ word | cut:"<strong>" | cut:"<p>"}}">
          {{ word | cut:"<strong>" | cut:"<p>"}}
        </span>

        {% elif "</strong></p>" in word %}
        <span class="word" data-wv="{{ word | cut:"</strong>" | cut:"</p>"}}">
          {{ word | cut:"</strong>" | cut:"</p>"}}
        </span>
      </strong>
    </p>

    {% elif "<strong>" in word and "</strong>" in word %}
    <strong>
      <span class="word" data-wv="{{ word | cut:"<strong>" | cut:"</strong>"}}">
        {{ word | cut:"<strong>" | cut:"</strong>" }}
      </span>
    </strong>

    {% elif "<p>" in word and "</p>" in word %}
    <p>
      <span class="word" data-wv="{{ word | cut:"<p>" | cut:"</p>" }}">
        {{ word | cut:"<p>" | cut:"</p>"}}
      </span>
    </p>
    {% elif "<p>" in word %}
    <p>
      <span class="word" data-wv="{{ word | cut:"<p>" }}">
        {{ word| cut:"<p>" }}
      </span>

      {% elif "<strong>" in word  %}
      <strong>
        <span class="word" data-wv="{{ word | cut:"<strong>" }}">
          {{ word | cut:"<strong>" }}
        </span>

        {% elif "</strong>" in word  %}
        <strong>
          <span class="word" data-wv="{{ word | cut:"</strong>" }}">
            {{ word | cut:"</strong>" }}
          </span>

          {% else %}
          <span class="word" data-wv="{{ word | cut:"</p>" }}">
            {{ word|safe }}
          </span>
          {% endif %}

          {% endfor %}

        </form>
        <br>
        <div class="ui container pagination page-paginator">
          {% if pages.has_previous %}
          <a href="?page={{ pages.previous_page_number }}">
            <div class="ui animated button" tabindex="0">
              <div class="visible content">Назад</div>
              <div class="hidden content">
                <i class="left arrow icon"></i>
              </div>
            </div>
          </a>
          {% endif %}
          <h3 class="pagination-title"> {{ pages.number }} из {{ pages.paginator.num_pages }}</h3>
          {% if pages.has_next %}
          <a href="?page={{ pages.next_page_number }}">
            <div class="ui animated button" tabindex="0">
              <div class="visible content">Вперёд</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </div>
          </a>
          {% endif %}
        </div>


        <div class="word-translate-block " id="translatedBlock">
          <div class="info">
            <span class="en_wrd"></span>
            <span class="tr_wrd"></span><br>
            <span class="ru_wrd"><br></span>
          </div>
          <div class="bug-f functions">
            {% if user.is_authenticated %}
            <a><span class="bug" data-word="beginning"><i class="bug icon"></i>Сообщить</span></a>
            {% else %}
            <a><span class="bug bug-i" data-word="beginning"><i class="bug icon"></i>Сообщить</span></a>
            {% endif %}

          </div>
        </div>
      </div>



      <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"></script>
      <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
      <script type="text/javascript" src="{% static "styles/js/csrf.js"%}"></script>
      <script src="{% static "styles/js/translate.js" %}"></script>
      <script src="{% static "styles/js/bookmark.js" %}"></script>
      <script src="{% static "styles/js/voice.js" %}"></script>

      {% endblock %}
