{% extends 'reader/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated == False %}
<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">


    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">
      <form class="ui large form" method="post" >
        {% csrf_token %}
        <h2>Вход</h2>
        <div class="ui stacked segment">
          <div class="field">
            {% if form.errors %}

            <div class="ui error message" style="display:block">
              <p class="error">Вы неправильно ввели логин или пароль</p>
            </div>
            {% endif %}

            <div class="ui left icon input">
              <i class="user icon"></i>
              <input autofocus="" id="id_username" maxlength="254" name="username" type="text" required="" placeholder="Логин" autocomplete="off" >
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="id_password" name="password" type="password" required="" placeholder="Пароль">

            </div>
          </div>
          <input type="submit" name="" value="Вход" class="ui fluid large teal submit button">
          
          <div class="ui error message"></div>
        </form>
        <br>
        <a href="../register" class="ui fluid blue large button">Регистрация</a>
      </div>

      <div class="ui message">
        Забыли пароль? <a href="../password_reset/">Восстановление пароля</a>
      </div>

    </div>
  </div>
</div>
{% else %}
{% include 'registration/logined.html'%}
{% endif %}
{% endblock content %}
