<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">

    
    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">
      
      <div class="ui stacked segment">
        <h2>Вы уже вошли</h2>
      </div>
      
      <div class="ui message">
        <a href="{{ site_url }}">На Главную</a>
      </div>
    </div>
  </div>
</div>

