{% extends 'reader/base.html' %}

{% block content %}

{% if user.is_authenticated == False %}
<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">


    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">
      <form class="ui large form" method="post" >
        {% csrf_token %}
        <h2>Восстановление пароля</h2>
        <div class="ui stacked segment">
          <div class="field">
            
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input autofocus="" id="id_email" maxlength="254" name="email" type="email" required="" placeholder="Email" autocomplete="off" >
            </div>
          </div>

          <input type="submit" name="" value="Далее" class="ui fluid large teal submit button">
        </div>

        <div class="ui error message"></div>
        <div class="ui message">
          <a href="{{ site_url }}/login">Вход</a>
        </div>

      </form>
    </div>
  </div>
</div>
{% else %}
{% include 'registration/logined.html'%}
{% endif %}
{% endblock content %}


