{% extends 'reader/base.html' %}

{% block content %}

{% if user.is_authenticated == False %}
<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">

    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">
      <h2>Восстановление пароля</h2>
      <div class="ui stacked segment">
       <p>
        На указаный Вами адрес отправлены инструкции по восстановлению пароля.
      </p>
      <p>
        Если письмо не приходит - посмотрите папку "Спам" или проверьте правильность введённого e-mail адреса.
      </p>

    </div>
    <div class="ui message">
      <a href="{{ site_url }}/login">Вход</a>
    </div>
  </div>
</div>
</div>
{% else %}
{% include 'registration/logined.html'%}
{% endif %}
{% endblock content %}

