{% extends 'reader/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated == False %}
<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">
    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">
      <form class="ui large form" method="post" id="reg_form">
        {% csrf_token %}

        <ul class="errorlist"></ul>
        <div class="ui error message"></div>
        <h2>Регистрация</h2>

        <div class="ui stacked segment">
         <div class="field">
           {% if form.username.errors %}
           <div class="ui error message" style="display:block">
             <ul class="list">
               {% for error in form.username.errors %}
               <li>{{ error | escape }}</li>
               {% endfor %}
             </ul>
           </div>
           {% endif %}

           <div class="ui left icon input">
            <i class="user icon"></i>
            <input autofocus="" id="id_username" maxlength="150" name="username" type="text" required="" placeholder="Логин">
          </div>
        </div>
        <div class="field">
         {% if form.email.errors %}
         <div class="ui error message" style="display:block">
           <ul class="list">
             {% for error in form.email.errors %}
             <li>{{ error | escape }}</li>
             {% endfor %}
           </ul>
         </div>
         {% endif %}
         <div class="ui left icon input">
          <i class="mail icon"></i>
          <input id="id_email" name="email" type="email" required="" placeholder="E-mail">
        </div>
      </div>
      <div class="field">
       {% if form.password1.errors %}
       <div class="ui error message" style="display:block">
         <ul class="list">
           {% for error in form.password1.errors %}
           <li>{{ error | escape }}</li>
           {% endfor %}
         </ul>
       </div>
       {% endif %}
       <div class="ui left icon input">
        <i class="lock icon"></i>
        <input id="id_password1" name="password1" type="password" required=""  placeholder="Пароль">
      </div>
    </div>

    <div class="field">
     {% if form.password2.errors %}
     <div class="ui error message" style="display:block">
       <ul class="list">
         {% for error in form.password2.errors %}
         <li>{{ error | escape }}</li>
         {% endfor %}
       </ul>
     </div>
     {% endif %}
     <div class="ui left icon input">
      <i class="lock icon"></i>
      <input id="id_password2" name="password2" type="password" required="" placeholder="Повторите пароль" >
    </div>
  </div>
  <input type="submit" value="Зарегистрироваться" class="ui fluid large teal submit button">
</div>
<div class="ui message">
  Есть аккаунт? <a href="{{ site_url }}/login">Вход</a>
</div>
</form>
</div>
</div>
</div>

{% else %}
{% include 'registration/logined.html'%}
{% endif %}
{% endblock content %}
