{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "styles/images/home-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{global_preferences.blog__title}}</h1>
                        <hr class="small">
                        <span class="subheading">{{global_preferences.blog__desc}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{% for entry in entrys %}
                <div class="post-preview">
                    <a href="{% url 'post_detail' pk=entry.pk %}">
                        <h2 class="post-title">
                            {{entry.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{entry.short_text}}
                        </h3>
                    </a>
                    <p class="post-meta">Опубликовал {{entry.author | title}} | {{entry.date}}</p>
                </div>
                <hr>
				{% endfor %}

                <!-- Pager -->
                <ul class="pager">
                	{% if entrys.has_previou %}
                    <li class="previous">
                        <a href="#">&larr; Назад</a>
                    </li>
                    {% endif %}

                	{% if entrys.has_next %}
                    <li class="next">
                        <a href="#">Вперёд &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>



{% endblock %}