{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{entry.img.url}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ entry.title }}</h1>
                        <h2 class="subheading">{{entry.short_text}}</h2>
                        <span class="meta">Опубликовал {{entry.author | title}} | {{entry.date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   {{entry.text | safe}}
                </div>
            </div>
        </div>
    </article>

    <hr>


{% endblock %}