{% extends 'reader/base.html' %}

{% block content %}

<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">

    
    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">
      <h2>Подтверждение почты</h2>
      <div class="ui stacked segment">
       <p>
        Почта успешно подтверждена!
      </p>
      
    </div>
    {% if user.is_authenticated == False %}
    <div class="ui message">
      <a href="{{ site_url }}/login">Вход</a>
    </div>
    {% else %}
    <div class="ui message">
      <a href="{{ site_url }}">На Главную</a>
    </div>
    {% endif %}
  </div>
</div>
</div>

{% endblock content %}

