{% extends 'reader/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated == False %}
<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column">
  <div class="ui two column grid cards-center">
    <div class="one wide mobilel four wide tablet four wide computer column"></div>
    <div class="sixteen wide mobile sixteen wide mobilel eight wide tablet eight wide computer column">
     {% if validlink %}

     
     <form class="ui large form" method="post" id="reg_form">
       <h2>Восстановление пароля</h2>
  
       <div class="ui stacked segment">

        {% csrf_token %}
        <div class="field">
         {% if form.new_password1.errors %}
         <div class="ui error message" style="display:block">
           <ul class="list">
             {% for error in form.new_password1.errors %}
             <li>{{ error | escape }}</li>
             {% endfor %}
           </ul>
         </div>
         {% endif %}
         <div class="ui left icon input">
          <i class="lock icon"></i>
          <input id="id_new_password1" name="new_password1" type="password" required="" aria-autocomplete="list" placeholder="Новый пароль">
        </div>
      </div>

      <div class="field">
       {% if form.new_password2.errors %}
       <div class="ui error message" style="display:block">
         <ul class="list">
           {% for error in form.new_password2.errors %}
           <li>{{ error | escape }}</li>
           {% endfor %}
         </ul>
       </div>
       {% endif %}
       <div class="ui left icon input">
        <i class="lock icon"></i>
        <input id="id_new_password2" name="new_password2" type="password" required="" placeholder="Повторите пароль" >

      </div>
    </div>
    <input type="submit" value="Сменить" class="ui fluid large teal submit button">
  </form>

  {% else %}
  <h2>Восстановление пароля</h2>

  <div class="ui stacked segment">
    <p>
      Эта ссылка для восстановления пароля недействительна, ей кто-то воспользовался. <br>
      Пожалуйста, запросите восстановление пароля ещё раз.
    </p>
    {% endif %}
  </div>
  <div class="ui message">
    Есть аккаунт? <a href="{{ site_url }}/login">Вход</a>
  </div>
</div>
</div>
</div>

{% else %}
{% include 'registration/logined.html'%}
{% endif %}
{% endblock content %}


