{% extends 'reader/base.html' %}
{% load static %}
{% block content %}

<div class="sixteen wide mobile twelve wide tablet thirteen wide computer column bookmarks-container" style="background-color: transparent;">

  <div class="ui five column doubling grid">
<div class="book-desc" style="width: 100%">
<br>
<form method="post">
  {% csrf_token %}

 <div class="field">
         {% if form.old_password.errors %}
         <div class="ui error message" style="display:block">
           <ul class="list">
             {% for error in form.old_password.errors %}
             <li>{{ error | escape }}</li>
             {% endfor %}
           </ul>
         </div>
         {% endif %}
         <div class="ui left icon input">
          <i class="lock icon"></i>
          <input id="id_new_password" name="old_password" type="password" required="" aria-autocomplete="list" placeholder="Старый пароль">
        </div>
      </div>
<br>
 <div class="field">
         {% if form.new_password1.errors %}
         <div class="ui error message" style="display:block">
           <ul class="list">
             {% for error in form.new_password1.errors %}
             <li>{{ error | escape }}</li>
             {% endfor %}
           </ul>
         </div>
         {% endif %}
         <div class="ui left icon input">
          <i class="lock icon"></i>
          <input id="id_new_password1" name="new_password1" type="password" required="" aria-autocomplete="list" placeholder="Новый пароль">
        </div>
      </div>
<br>
      <div class="field">
       {% if form.new_password2.errors %}
       <div class="ui error message" style="display:block">
         <ul class="list">
           {% for error in form.new_password2.errors %}
           <li>{{ error | escape }}</li>
           {% endfor %}
         </ul>
       </div>
       {% endif %}
       <div class="ui left icon input">
        <i class="lock icon"></i>
        <input id="id_new_password2" name="new_password2" type="password" required="" placeholder="Повторите пароль" >

      </div>
    </div>
        <br>
    <input type="submit" value="Сменить" class="ui fluid large teal submit button">

</form>
<br>
    </div>

  </div>

  <script src="{% static "styles/js/unbookmark.js" %}"></script>

</div>

<script type="text/javascript">
  $('.ui.accordion')
  .accordion()
  ;
</script>  

{% endblock %}
